body {
	font-family: 'Gilroy', sans-serif;
	background: #F5EFE6;
	color: #001f3f;
}

h1, h2, h3, h4 {
	font-family: 'Gilroy', sans-serif;
}

h1 {
	font-size: 260%;
}

h2 {
	font-size: 185%;
}

h3 {
	font-size: 135%;
}

.no-margin {
	margin: 0px;
}

p, li {
	font-size: 130%;
}

.quote {
	font-style: italic;
}
/* 
.container {
	margin: 2em ;
} */

a:link, a:visited, a:active {
	text-decoration: none;
	color: #001f3f;
}

a:hover {
	text-decoration: none;
	color: #265686;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: left; */
	align-items: stretch;
  }
  
.left-column {
	padding: 2em;
	/* flex: 50%; */
	flex-direction: column;
	flex: 400px;
	height: 95vh;
	/* flex-basis: 20%; */
}

  
.right-column {
	flex: 65%;
	/* flex: 1, 3; */
	/* flex: 3; */
	background-color: #c1d9ea;
}

.about-text {
	padding: 2em;
}

.typing-container {
	display: flex;
	justify-content: left;
	align-items: center;
}
.input-cursor {
	display: inline-block;
	width: 2px;
	height: 42px;
	background-color: #001f3f;
	margin-left: 8px;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.input-cursor { 
  animation: blink .6s linear infinite alternate;
}
/* .container > div {
	margin: 20px auto;
} */

.intro {
	text-align: left;
}

.mountain {
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

/* ********************************************* */
/* Skills */
.skill-text {
	padding-top: 2em;
}

.skill-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: stretch;
	gap: 10px
}

.skill {
	border-radius: 10px;
	border: 3px solid #f5e1aa;
	background-color: #f5e1aa;
	padding: 5px;
}
/* ********************************************* */

.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.group {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
	text-decoration: none
}
/* ********************************************* */
/* Experience */
.experience {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.job {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-end;
}
/* ********************************************* */
/* Projects */
.projects-grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	/* align-content: space-around; */
	gap: 10px;
	grid-template-columns: 50% 50%;
}

.project-container {
	border: 0px solid #000000;
	padding: 1em;
	width: 400px;
	transition: all ease-in-out .2s;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	/* border-radius: 10px; */
}

.project-image {
	width: 400px;
	height: 300px;
	border-radius: 5px;
	transition: all ease-in-out .2s;
	/* padding: 1em; */
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
}

.projects-heading {
	text-align: center;	
}




.project-image-wrapper {
	justify-self: center;
	padding: 4%;
	position: relative;
}

.project-image-wrapper:hover > h4 {
	visibility: visible;
}

.project-image-wrapper > h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	visibility: hidden;
	z-index: 2;
	transition: all ease-in-out .2s;
}

.about-list {
	list-style: none;
	padding: 0;
}

.links-and-contact {
	display: grid;
	grid-template-columns: 30% 70%;
}

.links {
	justify-self: center;
}

.links-list {
	list-style: none;
	padding: 0;
}

.profile-picture {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}

.profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
}

.icon-picture {
	width: 40px;
	height: 40px;
	transition: all ease-in-out .2s;
}

.icon-picture:hover {
	box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
}

form input, textarea {
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

form {
	width: 250px;
	margin: 0 auto;
}

form input[type="submit"] {
	width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}

@media (max-width: 650px) {
	.projects-grid {
		grid-template-columns: 100%;
	}

	.links-and-contact {
		grid-template-columns: 100%;
	}
}
